#AuthType Basic
#AuthName "Go4Seas for QA"
#AuthUserFile /etc/passwd_go4sea_qa
#Require valid-user
RewriteEngine on
RewriteBase /

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule ^(.*) index.php

