#AuthType Basic
#AuthName "DEV site"
#AuthUserFile /etc/qa-auth-file
#Require valid-user


RewriteEngine on
RewriteBase /

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule ^(.*) index.php